<app-container>
  <h1>Login-Page</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <fieldset class="mb-2">
      <label for="trainer" class="form-label">Trainer username:</label>
      <input type="text" ngModel #trainer="ngModel" name="trainer" id="trainer" required minlength="2" maxlength="40"
        class="form-control" placeholder="Ash">

      <section *ngIf="trainer.errors && (trainer.dirty || trainer.touched)">
        <div class="alert alert-danger">
          <p class="d-flex align-items-center mb-0" *ngIf="trainer.errors.required">
            <span class="material-icons">warning</span>
            You need to enter a trainer name
          </p>
          <p class="d-flex align-items-center mb-0" *ngIf="trainer.errors.minlength">
            <span class="material-icons">warning</span>
            The trainer name you chose is too short
          </p>
        </div>
      </section>


      <p *ngIf="attempting" class="text-warning">Trying to login...</p>
      <br><button [disabled]="attempting || loginForm.form.invalid"
        class="btn btn-primary d-flex align-items-center">Login</button>
    </fieldset>
  </form>
</app-container>