<app-container>

  <nav class="position-absolute  top-0 end-0 mx-5">
    <a class="link-dark btn bg-secondary my-2 text-light" routerLink="/catalogue"
      routerLinkActive="active">Catalogue</a>
    <button class="btn bg-secondary text-light mx-3" (click)="logout()">Logout</button>
  </nav>

  <h1 class="text-warning">Trainer</h1>
  <h2 class="text-warning">{{trainer.username}}</h2>
  <div>
    <div class="card" *ngFor="let pokemon of trainer.pokemon">
      <img src="{{ pokemon.avatar }}" alt="" style="width: 100%">
      <div class="container">
        <h2 class="text-center font-weight-bold">{{ pokemon.name }}</h2>
        <!--        <button class="btn">Show stats</button>-->
      </div>
      <button class="position-absolute bottom-0 end-0 btn btn-danger mx-1 my-1"
        (click)="release(pokemon)">Release</button>
    </div>
  </div>

</app-container>