<app-container>

  <nav class="position-absolute top-0 end-0 mx-5">
    <a class="link-dark btn bg-secondary my-2 mx-3 text-light" routerLink="/trainer"
      routerLinkActive="active">Trainer</a>
  </nav>

  <h1 class="text-warning">Catalogue</h1>
  <button class="btn btn-primary mx-1" (click)="decreaseIndex()">Previous</button>
  <button class="btn btn-primary mx-1" (click)="increaseIndex()">Next</button>
  <div>
    <div class="card" *ngFor="let pokemon of pokemons">
      <img (click)="catch(pokemon)" src="{{ pokemon.avatar }}" alt="" style="width: 100%">
      <div class="container">
        <h2 class="text-center font-weight-bold">{{ pokemon.name }}</h2>
        <!--        <button class="btn" (click)="showStats(pokemon)">Show stats</button>-->
        <div *ngIf="pokemon.stats">

        </div>
        <div *ngIf="pokemon.caught">
          <img class="position-absolute bottom-0 end-0"
            src="https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-transparent-png-2.png" width="20px" alt="">
        </div>
      </div>
    </div>
  </div>

</app-container>