
li {
  list-style: none;
}
.card {
  margin: 10px;
  width: 250px;
  height: 350px;
  background-color: lightyellow;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  float: left;
}

p{
  width: 100%;
  text-align: center;
}


/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  cursor: url("/assets/pokeball.png") 16 16,default;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: darkorange;
  cursor: url("https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-transparent-png-2.png"),default;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
