/* You can add global styles to this file, and also import other style files */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("ttps://i-viaplay-com.akamaized.net/viaplay-prod/644/292/1554455095-016dbc8520b6a7ee1197b592431559afd2c2475f.jpg?width=1600&height=900");
  background-repeat: no-repeat;
}